<?xml version="1.0"?>

<model>
  <name>Shogi King</name>
  <version>1.0</version>
  <sdf version="1.0">model.sdf</sdf>

  <description>
    A model of a chip star
  </description>

  <author>
    <name>Ryodo</name>
    <email>https://github.com/RyodoTanaka</email>
  </author>

  <depend>
  </depend>
</model>
