<?xml version="1.0"?>

<model>
  <name>AR Marker Box</name>
  <version>1.0</version>
  <sdf version="1.0">model.sdf</sdf>

  <description>
    A model of a ar marker box
  </description>

  <author>
    <name>RyodoTanaka</name>
    <email>groadpg@gmail.com</email>
  </author>

  <depend>
  </depend>
</model>
