<?xml version="1.0"?>

<model>
  <name>SIA5 Table</name>
  <version>1.0</version>
  <sdf version="1.0">model.sdf</sdf>

  <author>
    <name>Ryodo Tanaka</name>
    <email>groadpg@gmail.com</email>
  </author>

  <description>
    A model of a SIA5 Table
  </description>

  <depend>
  </depend>
</model>
